body
{
    background-color: black;
    margin: 0;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo
{
    background: url(../img/logo1.png) no-repeat 80% 80%;
    background-size: contain;
    float: left;
    width: 170px;  
    height: 85px;
    margin-left: 35px;
}
nav li
{
    padding:10px;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul
{
    display: flex;
    float: right;
    list-style-type: none;
}
nav a
{   
    color: rgb(239, 243, 238);
    font-weight: lighter;
    text-decoration: none;  
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: color 0.5s;
}
nav a:hover
{
    color: rgb(0, 0, 0);
}
header
{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,78,13,1) 35%, rgba(27,191,4,1) 100%);
    background-size: cover;
    image-orientation: flip;
    width: auto;
    height: 80px;
}
.container
{
    display: inline-flex ;
}
.container img
{
    width: 50%;
}
.container2
{
    margin: 30px;
    display: inline-flex;
}
.container2 p
{
    margin-top: 100px;
    color: white;
    
}
.container3
{
    display: inline-flex;
    align-items: center;
    align-content: center;
}
.container3 img
{
    border-radius: 30px;
    margin-left: 15px;
    width: 310px;
    height: 200px;
    object-fit: cover;
    transition:transform 0.5s ease;
}
.container3 img:hover
{
 transform: scale(0.9);
}
.container3 p
{
    color: white;
    text-align: center;
}

.container4
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.container4 div
{
    margin: 40px;
    border: solid 1px green;
    border-radius: 10px;
    transition:transform 0.5s ease;
}
.container4 div:hover
{
    transform: scale(1.1);
}
.container4 p,h3
{
    margin: 20px;
    color: white;
}
footer
{
  margin:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer i 
{
  padding-left: 20px;
  color: green;
}